// font-size
$fs-base: 16px;
$fs-xl: 18px;
$fs-2xl: 20px;
$fs-3xl: 30px;
$fs-4xl: 40px;
$fs-5xl: 50px;
$fs-6xl: 60px;
//font-weight
$fw-light: 300;
$fw-base: 400;
$fw-semi: 600;
$fw-bold: 800;
//color
$text-primary: #1861cf;
$text-white: #fff;
$text-light: #fff;
$text-dark: #000;
$text-warning: #f9d716;
//background
$bg-white: #fff;
$bg-primary: #1861cf;
$bg-light: #e2ebfc;
$bg-dark: #000;
$bg-warning: #f9d716;

//sizing
$w-0: 0;
$w-25: 25%;
$w-50: 50%;
$w-100: 100%;
$vw-0: 0;
$vw-25: 25vw;
$vw-50: 50vw;
$vw-75: 75vw;
$vw-100: 100vw;

$h-0: 0;
$h-25: 25%;
$h-50: 50%;
$h-100: 100%;
$vh-0: 0;
$vh-25: 25vh;
$vh-50: 50vh;
$vh-75: 75vh;
$vh-100: 100vh;

//rem: lấy theo html font-size mặc định 1rem = 16px(default)
$p-0: 0rem;
$p-1: 0.25rem;
$p-2: 0.5rem;
$p-3: 0.75rem;
$p-4: 1rem;
$p-5: 1.25rem;

$m-0: 0rem;
$m-1: 0.25rem;
$m-2: 0.5rem;
$m-3: 0.75rem;
$m-4: 1rem;
$m-5: 1.25rem;

//----------------------- mixin -------------------
@mixin text($fs: $fs-base, $fw: $fw-light, $color: $text-dark) {
    font-size: $fs;
    font-weight: $fw;
    color: $color;
}

@mixin button($fs, $fw, $color, $bg, $pd, $border, $br, $bg-hover, $text-hover) {
    background: $bg;
    padding: $pd;
    border: $border;
    border-radius: $br;
    @include text($fs, $fw, $color);
    transition: all 0.5s;
    cursor: pointer;

    &:hover {
        background: $bg-hover;
        color: $text-hover;
        transition: all 0.5s;
    }
}

$lst_size: 16, 18, 20, 22, 24, 26, 28;
@each $item in $lst_size {
    .f-#{$item} {
        font-size: #{$item}px;
    }
}
@for $index from 1 to length($lst_size) {
    .f-#{$index} {
        font-size: nth($lst_size, $index);
    }
}

$colors: (
    'primary': #1861cf,
    'white': #fff,
    'light': #e2ebfc,
    'dark': #000,
    'warning': #f9d716,
    'gray': #ddd2d2,
    'orange': #FFA500,
);

//util class
@each $key, $value in $colors {
    .bg-#{$key} {
        background-color: $value;
    }
    .text-#{$key} {
        color: $value;
    }
    .border-#{$key} {
        border-color: $value;
    }
    .color-#{$key} {
        color: $value;
    }
}
