@charset "UTF-8";
.f-16 {
  font-size: 16px;
}

.f-18 {
  font-size: 18px;
}

.f-20 {
  font-size: 20px;
}

.f-22 {
  font-size: 22px;
}

.f-24 {
  font-size: 24px;
}

.f-26 {
  font-size: 26px;
}

.f-28 {
  font-size: 28px;
}

.f-1 {
  font-size: 16;
}

.f-2 {
  font-size: 18;
}

.f-3 {
  font-size: 20;
}

.f-4 {
  font-size: 22;
}

.f-5 {
  font-size: 24;
}

.f-6 {
  font-size: 26;
}

.bg-primary {
  background-color: #1861cf;
}

.text-primary {
  color: #1861cf;
}

.border-primary {
  border-color: #1861cf;
}

.color-primary {
  color: #1861cf;
}

.bg-white, .man-banner .content-right .desc p::after, .deal-of-week .content .countdown-container .item {
  background-color: #fff;
}

.text-white {
  color: #fff;
}

.border-white {
  border-color: #fff;
}

.color-white, .man-banner .content-right .desc p {
  color: #fff;
}

.bg-light {
  background-color: #e2ebfc;
}

.text-light, .deal-of-week .content button, .hero-section .carousel .item .desc button, .nav ul li a, .nav ul li i, .section-search .icon-search .item-2 .section-product .button .item-2, .section-search .icon-search .item-2 .section-product .button .item-1 {
  color: #e2ebfc;
}

.border-light {
  border-color: #e2ebfc;
}

.color-light {
  color: #e2ebfc;
}

.bg-dark, .section-search .icon-search .item-2 .section-product .button .item-1 {
  background-color: #000;
}

.text-dark, .hero-section .carousel .item .desc p.p-2, .hero-section .carousel .item .desc .black-friday {
  color: #000;
}

.border-dark {
  border-color: #000;
}

.color-dark {
  color: #000;
}

.bg-warning {
  background-color: #f9d716;
}

.text-warning {
  color: #f9d716;
}

.border-warning {
  border-color: #f9d716;
}

.color-warning {
  color: #f9d716;
}

.bg-gray {
  background-color: #ddd2d2;
}

.text-gray {
  color: #ddd2d2;
}

.border-gray {
  border-color: #ddd2d2;
}

.color-gray {
  color: #ddd2d2;
}

.bg-orange, .footer .content .item button, .latest-blog > h1::after, .deal-of-week .content button, .deal-of-week .content h1::after, .hero-section .carousel .item .desc button {
  background-color: #FFA500;
}

.text-orange, .hero-section .carousel .item .desc p.p-1 {
  color: #FFA500;
}

.border-orange {
  border-color: #FFA500;
}

.color-orange {
  color: #FFA500;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

.container {
  padidng: 0 1rem;
}

.active {
  color: #1861cf !important;
  border-bottom: 3px solid #1861cf;
}

.shadow {
  box-shadow: 1px 5px 10px 3px rgb(170, 187, 196);
  -webkit-box-shadow: 1px 5px 10px 3px rgb(170, 187, 196);
  -moz-box-shadow: 1px 5px 10px 3px rgb(170, 187, 196);
}

.shadow-item {
  box-shadow: 6px 6px 12px #e2ebfc, -6px -6px 12px #fff;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg); /* Bắt đầu từ góc 0 độ */
  }
  100% {
    transform: rotate(360deg); /* Kết thúc tại góc 360 độ */
  }
}
.f-16 {
  font-size: 16px;
}

.f-18 {
  font-size: 18px;
}

.f-20 {
  font-size: 20px;
}

.f-22 {
  font-size: 22px;
}

.f-24 {
  font-size: 24px;
}

.f-26 {
  font-size: 26px;
}

.f-28 {
  font-size: 28px;
}

.f-1 {
  font-size: 16;
}

.f-2 {
  font-size: 18;
}

.f-3 {
  font-size: 20;
}

.f-4 {
  font-size: 22;
}

.f-5 {
  font-size: 24;
}

.f-6 {
  font-size: 26;
}

.bg-primary {
  background-color: #1861cf;
}

.text-primary {
  color: #1861cf;
}

.border-primary {
  border-color: #1861cf;
}

.color-primary {
  color: #1861cf;
}

.bg-white, .man-banner .content-right .desc p::after, .deal-of-week .content .countdown-container .item {
  background-color: #fff;
}

.text-white {
  color: #fff;
}

.border-white {
  border-color: #fff;
}

.color-white, .man-banner .content-right .desc p {
  color: #fff;
}

.bg-light {
  background-color: #e2ebfc;
}

.text-light, .deal-of-week .content button, .hero-section .carousel .item .desc button, .nav ul li a, .nav ul li i, .section-search .icon-search .item-2 .section-product .button .item-2, .section-search .icon-search .item-2 .section-product .button .item-1 {
  color: #e2ebfc;
}

.border-light {
  border-color: #e2ebfc;
}

.color-light {
  color: #e2ebfc;
}

.bg-dark, .section-search .icon-search .item-2 .section-product .button .item-1 {
  background-color: #000;
}

.text-dark, .hero-section .carousel .item .desc p.p-2, .hero-section .carousel .item .desc .black-friday {
  color: #000;
}

.border-dark {
  border-color: #000;
}

.color-dark {
  color: #000;
}

.bg-warning {
  background-color: #f9d716;
}

.text-warning {
  color: #f9d716;
}

.border-warning {
  border-color: #f9d716;
}

.color-warning {
  color: #f9d716;
}

.bg-gray {
  background-color: #ddd2d2;
}

.text-gray {
  color: #ddd2d2;
}

.border-gray {
  border-color: #ddd2d2;
}

.color-gray {
  color: #ddd2d2;
}

.bg-orange, .footer .content .item button, .latest-blog > h1::after, .deal-of-week .content button, .deal-of-week .content h1::after, .hero-section .carousel .item .desc button {
  background-color: #FFA500;
}

.text-orange, .hero-section .carousel .item .desc p.p-1 {
  color: #FFA500;
}

.border-orange {
  border-color: #FFA500;
}

.color-orange {
  color: #FFA500;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  border-top: 1px solid #ddd2d2;
  border-bottom: 1px solid #ddd2d2;
  display: flex;
  flex-direction: row;
}
header .email {
  padding: 20px 0px;
  width: 33.3333333333%;
  border-right: 1px solid #ddd2d2;
  display: flex;
  padding-right: 20px;
  justify-content: end;
  align-items: center;
  gap: 7px;
}
header .email i {
  font-size: 20px;
  font-weight: 800;
  color: #000;
}
header .email p {
  font-size: 16px;
  font-weight: 300;
  color: #000;
}
header .contact {
  width: 33.3333333333%;
  align-items: center;
  display: flex;
  margin-left: 1rem;
  border-right: 1px solid #ddd2d2;
  justify-content: space-between;
}
header .contact .phone {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
header .contact .social-media {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-right: 1rem;
}
header .contact .social-media i {
  justify-content: center;
  display: inline-block;
  font-size: 14px;
  font-weight: 300;
  color: #000;
}
header .user-language {
  display: flex;
  align-items: center;
  padding-left: 10px;
  border-right: 1px solid #ddd2d2;
  padding: 0 2rem;
  gap: 1rem;
}
header .user-language .language {
  display: flex;
  align-items: center;
}
header .user-language .language img {
  width: 30px;
  height: 20px;
  object-fit: cover;
}
header .user-language .language p {
  margin-left: 0.3rem;
  font-size: 14px;
  font-weight: 300;
  color: #000;
}
header .user-language .language i {
  display: inline-block;
  margin-left: 1rem;
  opacity: 0.5;
}
header .user-language .language #menu {
  position: absolute;
  top: 50px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}
header .user-language .language #menu div {
  margin-top: 0.5rem;
  display: flex;
}
header .login {
  display: flex;
  align-items: center;
  margin-left: 2rem;
}
header .login i {
  font-size: 14px;
  font-weight: 800;
  color: #000;
}
header .login p {
  margin-left: 0.5rem;
  font-size: 14px;
  font-weight: 300;
  color: #000;
}

.section-search {
  display: flex;
  padding: 2rem 0;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.section-search .logo-image {
  width: 33.3333333333%;
  display: flex;
  justify-content: end;
  margin-top: 1rem;
  padding-right: 10rem;
}
.section-search .logo-image img {
  height: 70%;
  object-fit: cover;
}
.section-search .search {
  display: flex;
  justify-content: start;
  border-top: 1px solid #ddd2d2;
  border-left: 1px solid #ddd2d2;
  border-bottom: 1px solid #ddd2d2;
  width: 33.3333333333%;
}
.section-search .search .input-category {
  display: flex;
  align-items: center;
}
.section-search .search .input-category p {
  padding: 1rem;
}
.section-search .search .input-category i {
  opacity: 0.5;
  border-right: 1px solid #ddd2d2;
  padding: 0.5rem;
  margin-right: 1rem;
}
.section-search .search input {
  width: 70%;
  outline: none;
  border: none;
  opacity: 0.5;
  font-size: 20px;
  font-weight: 800;
  color: #000;
}
.section-search .search input::placeholder {
  color: #aaa;
  opacity: 0.7;
  font-size: 20px;
  font-weight: 300;
  color: #000;
}
.section-search .icon-search {
  width: 33.3333333333%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.section-search .icon-search .item {
  position: relative;
}
.section-search .icon-search .item i {
  font-size: 20px;
  font-weight: 300;
  color: #000;
}
.section-search .icon-search .item span {
  position: absolute;
  top: -40%;
  right: -40%;
  background-color: orange;
  color: #fff;
  padding: 0.2rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  padding-left: 0.3rem;
  font-size: 8px;
  font-weight: 300;
  color: #fff;
}
.section-search .icon-search .item-2 i {
  font-size: 20px;
  font-weight: 800;
  color: #000;
}
.section-search .icon-search .item-2 .section-product {
  transition: all 0.5s;
  position: absolute;
  left: -15rem;
  z-index: 2;
  transform: translateY(30%);
  opacity: 0;
  padding: 0 1rem;
  flex-direction: column;
  width: 25rem;
  padding: 1.5rem;
  background-color: #fff;
}
.section-search .icon-search .item-2 .section-product .item {
  width: 100%;
  display: flex;
  gap: 1rem;
  margin-bottom: 1.2rem;
}
.section-search .icon-search .item-2 .section-product .item img {
  object-fit: cover;
}
.section-search .icon-search .item-2 .section-product .item .content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 1rem;
  justify-content: space-around;
}
.section-search .icon-search .item-2 .section-product .item .content p.desc {
  font-size: 20px;
  font-weight: 300;
  color: #000;
}
.section-search .icon-search .item-2 .section-product .item .content .price {
  color: #f9d716;
}
.section-search .icon-search .item-2 .section-product .item i {
  position: absolute;
  top: 40%;
  right: 0%;
  opacity: 0.5;
}
.section-search .icon-search .item-2 .section-product .item i:hover {
  cursor: pointer;
}
.section-search .icon-search .item-2 .section-product .item.item-2 {
  border-bottom: 1px solid #000;
  padding-bottom: 1rem;
  padding: 0 1rem;
}
.section-search .icon-search .item-2 .section-product .total {
  border-top: 1px solid #cecece;
  padding: 1rem 0rem;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  color: #f9d716;
}
.section-search .icon-search .item-2 .section-product .button {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
}
.section-search .icon-search .item-2 .section-product .button .item {
  display: block;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  padding: 0.8rem;
}
.section-search .icon-search .item-2 .section-product .button .item:hover {
  cursor: pointer;
}
.section-search .icon-search .item-2 .section-product .button .item-2 {
  background-color: orange;
  border: none;
}
.section-search .icon-search .item-2:hover .section-product {
  transform: translateY(0);
  opacity: 1;
}
.nav {
  background-color: #000;
}
.nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  height: 100%;
  font-size: 14px;
  font-weight: 600;
  color: #000;
}
.nav ul li:nth-child(1) {
  background-color: #3b3b3b;
}
.nav ul li {
  height: 100%;
  padding: 1rem 2.5rem;
  position: relative;
  border-right: 1px solid #f2ecec;
}
.nav ul li i {
  padding-right: 1rem;
}
.nav ul li a {
  text-decoration: none;
}
.nav ul li a i.fa-sharp-duotone {
  position: absolute;
  padding-left: 1rem;
  right: 0.2rem;
}
.nav ul li a ~ ul.submenu {
  position: absolute;
  display: block;
  list-style: none;
  text-align: left;
  height: auto;
  opacity: 0;
  transform: translateY(10%);
  transition: transform 0.5s ease, opacity 0.5s ease;
  z-index: 1;
}
.nav ul li a ~ ul.submenu li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
  color: #000;
  text-transform: capitalize;
}
.nav ul li a ~ ul.submenu li a:hover {
  color: #ffa500;
}
.nav ul li a ~ ul.submenu-1 {
  position: absolute;
  display: block;
  width: 20rem;
  top: 3rem;
  left: 0rem;
  background-color: #fff;
}
.nav ul li a ~ ul.submenu-2 {
  position: absolute;
  top: 3.05rem;
  width: 12rem;
  right: 0px;
  background-color: #000;
  display: flex;
  flex-direction: column;
}
.nav ul li a ~ ul.submenu-2 li a {
  color: #fff;
}
.nav ul li a ~ ul.submenu-3 {
  display: block;
  position: absolute;
  background-color: #000;
  right: 0rem;
  display: block;
  top: 3rem;
  z-index: 10;
  width: 10rem;
}
.nav ul li a ~ ul.submenu-3 li {
  height: 100%;
}
.nav ul li a ~ ul.submenu-3 li a {
  display: inline-block;
  font-size: 14px;
  font-weight: 300;
  color: #fff;
}
.nav ul li:hover {
  cursor: pointer;
}
.nav ul li:hover .submenu {
  opacity: 1;
  transform: translateY(0);
}

.hero-section .carousel .slick-prev,
.hero-section .carousel .slick-next {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  border: none;
}
.hero-section .carousel .slick-prev {
  left: 10px;
}
.hero-section .carousel .slick-next {
  right: 10px;
}
.hero-section .carousel .slick-prev:hover,
.hero-section .carousel .slick-next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}
.hero-section .carousel .slick-prev:active,
.hero-section .carousel .slick-next:active {
  background-color: rgba(0, 0, 0, 0.9);
  transform: scale(0.95);
}
.hero-section .carousel .item {
  position: relative;
  width: 50rem;
}
.hero-section .carousel .item .desc {
  top: 10rem;
  left: 15rem;
  position: absolute;
  z-index: 1;
  color: #fff;
}
.hero-section .carousel .item .desc .black-friday {
  margin: 1.5rem 0rem;
  font-size: 60px;
  font-weight: 600;
  color: #000;
}
.hero-section .carousel .item .desc p.p-2 {
  line-height: 1.5;
  opacity: 0.5;
}
.hero-section .carousel .item .desc button {
  margin: 1rem 0;
  border: none;
  padding: 1rem;
  text-transform: uppercase;
}
.hero-section .carousel .item .desc .sale {
  position: absolute;
  top: -3rem;
  right: 7rem;
  border-radius: 50%;
  background-color: orange;
  width: 10rem;
  height: 10rem;
  padding: 3rem 3.5rem;
  text-transform: uppercase;
  border: 2px dotted white;
}
.banner-section {
  display: flex;
  justify-content: space-around;
  margin-top: 5rem;
}
.banner-section .banner {
  position: relative;
  z-index: 1;
}
.banner-section .banner:hover div p::before {
  transform: scale(5);
  opacity: 1;
  border: 3px solid rgba(255, 255, 255, 0.8235294118);
}
.banner-section .banner div p {
  position: absolute;
  top: -2rem;
  left: 5rem;
  padding: 1rem;
  background: #e2ebfc;
  border-radius: 5px;
  margin: 10rem;
  transition: transform 1s;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner-section .banner div p::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
}
.women-banner {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  gap: 2rem;
}
.women-banner .women-large {
  flex-grow: 0.3;
  background-image: url("/assets/img/products/women-large.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 25%;
  height: 75vh;
  position: relative;
}
.women-banner .women-large .desc {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: #fff;
  text-align: center;
}
.women-banner .women-large .desc h1 {
  font-size: 40px;
  font-weight: 600;
  color: #fff;
}
.women-banner .women-large .desc p {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #fff;
}
.women-banner .women-product {
  flex-grow: 0.7;
}
.women-banner .women-product nav ul.menu {
  display: flex;
  list-style: none;
  justify-content: center;
}
.women-banner .women-product nav ul.menu li:nth-child(1) a {
  opacity: 1;
  padding-bottom: 0.1rem;
  border-bottom: 2px solid #000;
}
.women-banner .women-product nav ul.menu li {
  padding: 0rem 1rem;
}
.women-banner .women-product nav ul.menu li a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 300;
  color: #000;
  opacity: 0.5;
  line-height: 2;
}
.women-banner .women-product .women-product-container {
  margin: 5rem 2rem 0rem 3rem;
}
.women-banner .women-product .women-product-container .flickity-container .main-carousel {
  text-align: center;
}
.women-banner .women-product .women-product-container .flickity-container .main-carousel .desc {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.women-banner .women-product .women-product-container .flickity-container .main-carousel h1 {
  font-size: 0.8rem;
  font-weight: 600;
  color: #cecece;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0.2rem;
}
.women-banner .women-product .women-product-container .flickity-container .main-carousel p {
  margin-top: 0.5rem;
  text-align: center;
}
.women-banner .women-product .women-product-container .flickity-container .main-carousel .price {
  display: flex;
  justify-content: center;
  gap: 5px;
}
.women-banner .women-product .women-product-container .flickity-container .main-carousel .price p {
  font-size: 20px;
  font-weight: 800;
  color: #f9d716;
}
.women-banner .women-product .women-product-container .flickity-container .main-carousel .price del {
  font-size: 14px;
  font-weight: 18px;
  color: #cecece;
  justify-content: center;
  display: inline-block;
  margin-top: 1rem;
}

.deal-of-week {
  background-image: url("/assets/img/time-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 50rem;
  margin: 0 2rem;
  position: relative;
}
.deal-of-week .content {
  width: 50rem;
  position: absolute;
  left: 10%;
  top: 15%;
}
.deal-of-week .content h1 {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  color: #000;
}
.deal-of-week .content h1::after {
  content: "";
  display: block;
  width: 10%;
  height: 2px;
  margin: 1rem auto;
}
.deal-of-week .content > p {
  text-align: center;
  font-size: 1em;
  font-weight: 300;
  color: #000;
  line-height: 1.2rem;
  opacity: 0.5;
  width: 35rem;
  margin-left: 7.5rem;
}
.deal-of-week .content .price {
  display: flex;
  margin-left: 21.5rem;
  margin-top: 0.5rem;
}
.deal-of-week .content .price > p {
  font-size: 1.8rem;
  font-weight: 700;
  color: #000;
  color: #ffa500;
}
.deal-of-week .content .price span {
  font-size: 14px;
  font-weight: 500;
  color: #000;
  margin-top: 0.5rem;
  margin-left: 0.2rem;
  opacity: 0.5;
}
.deal-of-week .content .countdown-container {
  display: flex;
  margin-left: 12rem;
  margin-top: 2rem;
}
.deal-of-week .content .countdown-container .item {
  margin: 0 0.5rem;
  text-align: center;
  width: 5rem;
  height: 6rem;
}
.deal-of-week .content .countdown-container .item p:nth-child(1) {
  font-size: 2rem;
  font-weight: 700;
  color: #000;
  color: #ffa500;
}
.deal-of-week .content .countdown-container .item p:nth-child(2) {
  font-size: 1rem;
  font-weight: 700;
  color: #000;
  color: #000;
  opacity: 0.2;
  margin-top: -1.5rem;
  text-transform: uppercase;
}
.deal-of-week .content button {
  margin-top: 3rem;
  margin-left: 20rem;
  outline: none;
  border: none;
  padding: 1rem 2rem;
  text-transform: uppercase;
}

.man-banner {
  margin: 5rem 2rem 0rem;
  display: flex;
  gap: 1rem;
}
.man-banner .content-left {
  width: 60%;
  gap: 2rem;
}
.man-banner .content-left nav {
  margin-left: 25rem;
  margin-bottom: 3rem;
}
.man-banner .content-left nav .menu {
  display: flex;
  list-style: none;
}
.man-banner .content-left nav .menu li:nth-child(1) a {
  opacity: 1;
  padding-bottom: 0.1rem;
  border-bottom: 2px solid #000;
}
.man-banner .content-left nav .menu li {
  padding: 0rem 1rem;
}
.man-banner .content-left nav .menu li a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 300;
  color: #000;
  opacity: 0.5;
}
.man-banner .content-left .men-product-container .flickity-container .main-carousel-2 .carousel-cell .desc {
  text-align: center;
}
.man-banner .content-left .men-product-container .flickity-container .main-carousel-2 .carousel-cell .desc h1 {
  font-size: 14px;
  font-weight: 600;
  color: #000;
  text-transform: uppercase;
  opacity: 0.5;
  margin-top: 0.5rem;
}
.man-banner .content-left .men-product-container .flickity-container .main-carousel-2 .carousel-cell .desc p {
  margin-top: 0.5rem;
}
.man-banner .content-left .men-product-container .flickity-container .main-carousel-2 .carousel-cell .desc .price {
  display: flex;
  margin-left: 5rem;
}
.man-banner .content-left .men-product-container .flickity-container .main-carousel-2 .carousel-cell .desc .price p {
  font-size: 18px;
  font-weight: 800;
  color: #f9d716;
}
.man-banner .content-left .men-product-container .flickity-container .main-carousel-2 .carousel-cell .desc .price del {
  font-size: 14px;
  font-weight: 300;
  color: #000;
  margin-top: 0.8rem;
  opacity: 0.5;
  margin-left: 0.2rem;
}
.man-banner .content-right {
  width: 40%;
  position: relative;
  margin-left: 8rem;
}
.man-banner .content-right img {
  width: 100%;
  height: 75vh;
  object-fit: cover;
}
.man-banner .content-right .desc {
  position: absolute;
  top: 50%;
  left: 50%;
}
.man-banner .content-right .desc h1 {
  font-size: 40px;
  font-weight: 600;
  color: #fff;
}
.man-banner .content-right .desc p {
  margin-top: 1rem;
}
.man-banner .content-right .desc p::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  margin: 1rem auto;
}

.instagram-photo {
  display: flex;
  margin-top: 2rem;
}
.instagram-photo .item {
  position: relative;
}
.instagram-photo .item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  opacity: 0;
  transition: all 0.5s;
}
.instagram-photo .item:hover::after, .instagram-photo .item:hover div {
  opacity: 1;
}
.instagram-photo .item div {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  color: #fff;
  width: inherit;
  height: 100%;
  opacity: 0;
}
.instagram-photo .item div img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.instagram-photo .item div i {
  display: inline-block;
}
.instagram-photo .item div p {
  margin-left: -3rem;
  text-align: center;
}

.latest-blog {
  margin: 2rem 2rem;
  padding: 0 10rem;
}
.latest-blog > h1 {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  color: #000;
}
.latest-blog > h1::after {
  content: "";
  display: block;
  width: 5%;
  height: 2px;
  margin: 1rem auto;
}
.latest-blog .content {
  display: flex;
  gap: 3rem;
}
.latest-blog .content .item img {
  width: 100%;
  object-fit: cover;
}
.latest-blog .content .item .sub-desc {
  margin-top: 1rem;
  display: flex;
}
.latest-blog .content .item .sub-desc .item i {
  display: inline-block;
  font-size: 18px;
  font-weight: 300;
  color: #f9d716;
}
.latest-blog .content .item .sub-desc .item p {
  display: inline-block;
  opacity: 0.5;
}
.latest-blog .content .item .sub-desc .num-mess {
  margin-left: 2rem;
}
.latest-blog .content .item .sub-desc .num-mess i {
  display: inline-block;
  font-size: 18px;
  font-weight: 300;
  color: #f9d716;
}
.latest-blog .content .item .sub-desc .num-mess p {
  display: inline-block;
  opacity: 0.5;
}
.latest-blog .content .item .desc {
  width: 70%;
}
.latest-blog .content .item .desc h1 {
  margin-top: 1rem;
  line-height: 1.5rem;
}
.latest-blog .content .item .desc p {
  opacity: 0.5;
  margin-top: 1rem;
}

.partner-logo {
  display: flex;
  margin: 2rem 2rem;
  padding: 0 10rem;
}
.partner-logo .item {
  width: 33.3333333333%;
  border: 1px solid #ddd2d2;
  display: flex;
  padding: 2rem 0px;
  padding-left: 5rem;
}
.partner-logo .item img {
  object-fit: contain;
}
.partner-logo .item .desc {
  padding-left: 2%;
}
.partner-logo .item .desc h1 {
  font-size: 20px;
  font-weight: 600;
  color: #000;
  text-transform: uppercase;
}
.footer {
  background-color: #303030;
}
.footer .logo {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
  gap: 5rem;
}
.footer .content {
  background-color: #191919;
  display: flex;
  padding: 3rem 12rem;
  gap: 8rem;
}
.footer .content .item img {
  width: 100%;
  object-fit: cover;
}
.footer .content .item:hover {
  cursor: pointer;
}
.footer .content .item p {
  font-size: 18px;
  font-weight: 300;
  color: #fff;
  margin-top: 1rem;
  opacity: 0.5;
}
.footer .content .item .logo-icon {
  display: flex;
  margin-top: 1rem;
  margin-left: -1rem;
  position: relative;
}
.footer .content .item .logo-icon .item {
  background-color: #434445;
  margin: 0 1rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
.footer .content .item .logo-icon .item i {
  position: absolute;
  top: 30%;
  padding-left: 1rem;
  display: inline-block;
  font-size: 18px;
  font-weight: 300;
  color: #fff;
}
.footer .content .item2 h1, .footer .content .item3 h1, .footer .content .item4 h1 {
  color: #fff;
}
.footer .content .item2 ul, .footer .content .item3 ul, .footer .content .item4 ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
}
.footer .content .item2 ul li a, .footer .content .item3 ul li a, .footer .content .item4 ul li a {
  opacity: 0.5;
  color: #fff;
  text-decoration: none;
}
.footer .content .item input {
  width: 70%;
  padding: 0.5rem;
  margin-top: 1rem;
  border: none;
  background-color: #303030;
  color: #fff;
  opacity: 0.5;
  display: inline-block;
}
.footer .content .item input::placeholder {
  color: #fff;
  opacity: 0.5;
  text-transform: capitalize;
  padding: 0 1rem;
}
.footer .content .item button {
  display: inline-block;
  margin: 0;
  outline: none;
  border: none;
  padding: 0.5rem 1rem;
}
.footer .coppy-right {
  border-top: 1px solid #cecece;
  background-color: #191919;
  padding: 1rem 12rem;
  display: flex;
  justify-content: space-between;
}
.footer .coppy-right pre {
  opacity: 0.5;
  font-size: 18px;
  font-weight: 300;
  color: #fff;
}
.footer .coppy-right pre i {
  color: red;
  margin: 0 0.3rem;
}
body > section.women-banner.container > div.women-product > div > div > div.swiper-button-prev,
body > section.women-banner.container > div.women-product > div > div > div.swiper-button-next {
  display: none;
}

body > section.women-banner.container > div.women-product > div > div > div.main-carousel.flickity-enabled.is-draggable > div {
  height: 31.25rem !important;
}

body > section.man-banner.container > div.content-left > div > div > div.main-carousel-2.flickity-enabled.is-draggable > div {
  margin-left: 3rem;
}/*# sourceMappingURL=home.css.map */