@inherits LayoutComponentBase

<div class="d-flex">
    <div class="w-25 bg-dark" style="min-height: 100vh;">
        <ul>
            <li>Menu1</li>
            <li>Menu2</li>
            <li>Menu3</li>
            <li>Menu4</li>
        </ul>
    </div>
    <div class="w-75" style="min-height: 100vh;">
        @Body
    </div>
</div>