.flex{
    background-color: rebeccapurple;
    height: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: start;
}

.flex .item{
    background-color: green;
    margin: 10px;
    height: 100px;
}