// font-size
$fs-base: 16px;
$fs-xl:18px;
$fs-2xl:20px;
$fs-3xl:30px;
$fs-4xl:40px;
$fs-5xl:50px;
$fs-6xl:60px;
 //font-weight
$fw-light:300;
$fw-base:400;
$fw-semi:600;
$fw-bold:800;

.class {
    font-weight: ;
}