<nav
    class="navbar navbar-expand-sm navbar-dark bg-success"
>
    <a class="navbar-brand" href="#">Cyber-Blazor</a>
    <button
        class="navbar-toggler d-lg-none"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapsibleNavId"
        aria-controls="collapsibleNavId"
        aria-expanded="false"
        aria-label="Toggle navigation"
    ></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav me-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <NavLink ActiveClass="active-link" class="nav-link" href="/" Match="NavLinkMatch.All" aria-current="page"
                    >Home <span class="visually-hidden">(current)</span></NavLink>
            </li>
            <li class="nav-item">
                <NavLink ActiveClass="active-link" class="nav-link" href="/login" Match="NavLinkMatch.All">Login</NavLink>
            </li>
            <li class="nav-item">
                <NavLink ActiveClass="active-link" class="nav-link" href="/ref-demo" Match="NavLinkMatch.All">ref-demo</NavLink>
            </li>
            <li class="nav-item">
                <NavLink ActiveClass="active-link" class="nav-link" href="/jsblazor" Match="NavLinkMatch.All">JSRazor</NavLink>
            </li>
            <li class="nav-item dropdown">
                <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    id="dropdownId"
                    data-bs-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                    >Databinding</a>
                <div class="dropdown-menu" aria-labelledby="dropdownId">
                    <NavLink class="dropdown-item" href="/oneway-binding">data-binding</NavLink>
                    <NavLink class="dropdown-item" href="/handle-event">Handle Event</NavLink>
                    <NavLink class="dropdown-item" href="/two-way-binding">twoway-binding</NavLink>
                    <NavLink class="dropdown-item" href="/register">register</NavLink>
                    <NavLink class="dropdown-item" href="/form-validation">form-validation</NavLink>
                    <NavLink class="dropdown-item" href="/Component-param">Component-param</NavLink>
                    <NavLink class="dropdown-item" href="/product-detail">product-detail</NavLink>
                    <NavLink class="dropdown-item" href="/ex-carstore">ex-carstore</NavLink>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    id="dropdownId"
                    data-bs-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                    >LifeCycle</a>
                <div class="dropdown-menu" aria-labelledby="dropdownId">
                    <NavLink class="dropdown-item" href="/demo-oninit">demo-oninit</NavLink>
                    <NavLink class="dropdown-item" href="/detail{Id}">Set parameter</NavLink>
                </div>
            </li>
        </ul>
        <form class="d-flex my-2 my-lg-0">
            <input
                class="form-control me-sm-2"
                type="text"
                placeholder="Search"
            />
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                Search
            </button>
        </form>
    </div>
</nav>
