div {
    background-color: black;
    color: blue;
}

/* #title{
    color: rebeccapurple;
    font-size: 20px;
} */

.text-title {
    color: aqua;
}

.txt-h3 {
    color: bisque;
}

[h3-khoi] {
    color: palevioletred;
}

div [h3-khoi]{
    color: brown;
}

.div-title >.text-title{
    color: chocolate;
}

ul.nav li{
    color: aqua;
}

/* ul.nav .item-2{
    color: darkseagreen;
} */

ul.nav li:last-child{
    color: blue;
}

ul.nav li:first-child{
    color: bisque;
}
ul.nav li:last-child{
    color: blue;
}

ul.nav li::before{
    content: "+";
}

ul.nav li::after{
    content: "!";
}